html, body {
    height: 100%;
    width: 100%;
}
.navbar {
    background-color: darkgreen;
    padding: 1% 0;
    font-size: 1.2em;
}
.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;

}
.navbar-default .navbar-nav li a {
    color: #FFF;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: FFF;
}
#home {
    background: url(img/tausta1.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #1a1a1a;
}
    .landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}
.padding {
    padding: 80px 0;
}
.padding img{
    width: 100%
}
#fixed {
    background: url(img/tausta2.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.row{
    text-align: center;
}
footer {
    width: 100%;
    background-color: darkgreen;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}
.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}
.fa:hover{
    color: #FFF;
    text-decoration: none;
}
.icon {
    max-width: 200px;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}
